body{
    background-color: #AAA;
    color: #136;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    text-align: center;
    text-size-adjust: 120%;
    text-transform: capitalize;
}
table{
    width: 80%;
    background-color: #DDD;
    border-style: groove;
    border-color: #136;
    margin-right: auto;
    margin-left: auto;
    border-spacing: 5px;
}
ul{
    list-style-type: square;
}
a{
    color: red; /*I see red XDD*/
    text-decoration: none;
}
h2{
    background-color: white;
    border-top: groove;
    margin: 15px;
    margin-top: 5px;
    border-top: groove;
    border-bottom: groove;
    border-color: #136;
    border-width: 2px;
}
p{
    text-align: center;
}
.korul{
    border: #136;
    border-style: groove;
    border-width: 5px;
}
.elsokep{
    border: #136;
    border-style: groove;
    border-width: 2px;
    text-align: center;
}
